1Q. A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions

In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv("C:\DataScience Assignments\Hypothesis Testing\Cutlets.csv")
df

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [2]:
# H0 = there is no significant difference in the diameter of the cutlet between two units
# H1 = there is a significant difference in the diameter of the cutlet between two units

In [3]:
import scipy.stats as stats
Zcal,Pvalue=stats.ttest_ind(df["Unit A"],df["Unit B"])

In [4]:
print("Zcalculated value:",Zcal.round(4))
print("P-value:",Pvalue.round(4))

Zcalculated value: 0.7229
P-value: 0.4722

In [5]:
alpha = 0.05
if Pvalue < alpha:
  print("Inferences :\n there is a significant difference in the diameter of the cutlet between two units.")
else:
  print("Inferences:\n there is no significant difference in the diameter of the cutlet between two units.")

Inferences:
 there is no significant difference in the diameter of the cutlet between two units.

2Q. A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [6]:
import numpy as np
import pandas as pd
df2=pd.read_csv("C:\DataScience Assignments\Hypothesis Testing\LabTAT.csv")
df2

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [7]:
lab1=df2["Laboratory 1"]
lab2=df2["Laboratory 2"]
lab3=df2["Laboratory 3"]
lab4=df2["Laboratory 4"]

In [8]:
import scipy.stats as f_oneway
Fcal,Pvalue=stats.f_oneway(lab1,lab2,lab3,lab4)
Fcal,Pvalue

(118.70421654401437, 2.1156708949992414e-57)

In [9]:
print("F Calculated Value:",Fcal.round(4))
print("P-Value:",Pvalue)

F Calculated Value: 118.7042
P-Value: 2.1156708949992414e-57

In [10]:
alpha = 0.05
if Pvalue < alpha:
  print("Inference: \n There is a significant difference in average TAT among the different laboratories")
else:
  print("Inference: \n There is no significant difference in average TAT among the different laboratories")

Inference:
 There is a significant difference in average TAT among the different laboratories

3Q. Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [11]:
import numpy as np
import pandas as pd
df3=pd.read_csv("C:\DataScience Assignments\Hypothesis Testing\BuyerRatio.csv")
df3

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [12]:
observed=np.array([[50,142,131,70],[435,1523,1356,750]])

In [13]:
from scipy.stats import chi2_contingency
X = chi2_contingency(observed)

In [14]:
Pvalue=X[1]
Pvalue

0.6603094907091882

In [15]:
if Pvalue < 0.05:
    print("INFERENCE: \n There is evidence of a significant difference in male-female buyer ratios across regions.")
else:
    print("INFERENCE: \n There is evidence of no significant difference in male-female buyer ratios across regions.")

INFERENCE:
 There is evidence of no significant difference in male-female buyer ratios across regions.

4Q.TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain % of the customer order forms. Any error in order form renders it defective and has to be reworked before processing. The manager wants to check whether the defective % varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [16]:
import numpy as np
import pandas as pd
df4=pd.read_csv("C:\DataScience Assignments\Hypothesis Testing\Costomer+OrderForm.csv")
df4

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [17]:

!pip install researchpy

Collecting researchpy
  Downloading researchpy-0.3.5-py3-none-any.whl (33 kB)
Collecting patsy
  Downloading patsy-0.5.6-py2.py3-none-any.whl (233 kB)
     -------------------------------------- 233.9/233.9 kB 4.8 MB/s eta 0:00:00
Collecting statsmodels
  Downloading statsmodels-0.14.1-cp310-cp310-win_amd64.whl (9.8 MB)
     ---------------------------------------- 9.8/9.8 MB 5.8 MB/s eta 0:00:00
Requirement already satisfied: scipy in c:\users\hyss\python\lib\site-packages (from researchpy) (1.11.4)
Requirement already satisfied: numpy in c:\users\hyss\python\lib\site-packages (from researchpy) (1.26.2)
Requirement already satisfied: pandas in c:\users\hyss\python\lib\site-packages (from researchpy) (2.1.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\hyss\python\lib\site-packages (from pandas->researchpy) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hyss\appdata\roaming\python\python310\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hyss\python\lib\site-packages (from pandas->researchpy) (2023.3)
Requirement already satisfied: six in c:\users\hyss\python\lib\site-packages (from patsy->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\users\hyss\python\lib\site-packages (from statsmodels->researchpy) (23.2)
Installing collected packages: patsy, statsmodels, researchpy
Successfully installed patsy-0.5.6 researchpy-0.3.5 statsmodels-0.14.1

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
import researchpy as rp
T=pd.crosstab(df4["Phillippines"],[df4["Indonesia"],df4["Malta"],df4["India"]])
T

Indonesia     Defective                       Error Free
Malta         Defective Error Free             Defective Error Free
India        Error Free  Defective Error Free Error Free  Defective Error Free
Phillippines
Defective             0          0          2          4          2         21
Error Free            9          2         20         18         16        206

In [19]:
from scipy.stats import chi2_contingency
chi2,P_value,dof,excepted=chi2_contingency(T)
P_value

0.6845505149379718

In [20]:
if P_value < 0.5:
  print("INFERENCE:\n There is a evidence of significant difference between the center and defective percentage.")
else:
  print("INFERENCE: \n there is no evidence of siginificant difference between the center and defective percentage.")

INFERENCE:
 there is no evidence of siginificant difference between the center and defective percentage.